@model BuzonQuejas3.Models.Queja

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Queja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreQuejante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreQuejante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatoHechos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatoHechos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreServidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreServidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAtencion)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtendidoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtendidoPor)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolucion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuejaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
