@*@model IEnumerable<BuzonQuejas3.Models.Queja>*@
@model IEnumerable<BuzonQuejas3.Models.QuejaMostrar>
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nombreUsuario = User.Claims.ElementAt(0).Value;
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/css/IndexQueja.css" />
<div class="row justify-content-center mt-3">
    <div class="col-12">
        <div class="row align-items-center mb-2">
            <div class="col-12">
                <p class="text-center user-name ">@nombreUsuario</p>
            </div>
            <div class="col-12 mb-5">
                <h1 class="text-center titulo">Buzón de quejas  </h1>
            </div>
        </div>
    </div>
    <div class="col-10 align-self-end ">
        <div class="table-responsive border contenedor-tabla">
            <table class="table table-hover ">
                <thead>
                    <tr class="align-text-top header-table">
                        <th class="align-text-top">
                            <a class="text-dark" asp-action="Quejas" asp-route-filtro="@ViewData["FiltroFolio"]">
                                @Html.DisplayName("Folio")
                                <span class="material-icons size-order ">height</span>
                            </a>
                        </th>
                        <th class="align-text-top">
                            @Html.DisplayName("Nombre del Quejoso")
                        </th>
                        <th class="align-text-top">
                            <a class="text-dark" asp-action="Quejas" asp-route-filtro="@ViewData["FiltroFecha"]">
                                @Html.DisplayName("Fecha")
                                <span class="material-icons size-order ">height</span>
                            </a>
                        </th>
                        @*@if (User.IsInRole("Administrador") || User.IsInRole("Root"))*@
                        @* { *@
                        <!--<th class="align-text-top col-4 ">
                        <a class="text-dark" asp-action="Index" asp-route-filtro="@ViewData["FiltroUnidad"]">-->
                        @*@Html.DisplayName("Unidad Administrativa")*@
                        <!--Unidad Administrativa
                                <span class="material-icons size-order ">arrow_downward</span>
                            </a>
                        </th>-->
                        @*}
                            else
                            {*@
                        @*<th class="align-text-top col-4 ">
                                @Html.DisplayName("Unidad Administrativa")
                            </th>*@
                        @* }*@
                        <th class="align-text-top">
                            @Html.DisplayName("Motivo")
                        </th>
                        <th class="align-text-top">
                            @Html.DisplayName("Servidor Público Involucrado")
                        </th>
                        <th class="align-text-top">
                            <a class="text-dark" asp-action="Quejas" asp-route-filtro="@ViewData["FiltroMedio"]">
                                @Html.DisplayName("Medio de Recepción")
                                <span class="material-icons size-order ">height</span>
                            </a>
                        </th>
                        <th class="align-text-top">
                            <a class="text-dark" asp-action="Quejas" asp-route-filtro="@ViewData["FiltroEstatus"]">
                                <div class="row">
                                    <div class="col-2 mr-4">
                                        @Html.DisplayName("Estatus")
                                    </div>
                                    <div class="col-1 ">
                                        <span class="material-icons size-order ">height</span>
                                    </div>

                                </div>
                            </a>
                        </th>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("Departamental"))
                        {
                            <th class="align-text-top">
                                @Html.DisplayName("Reasignar")
                            </th>
                        }
                        @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("UnidadAdministrativa"))
                        {
                            <th class="align-text-top">
                                @Html.DisplayName("Seguimiento ")
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-row">
                            <td>
                                @Html.DisplayFor(modelItem => item.Folio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreQuejante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MotivoQueja)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServidorInvolucrado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Medio)
                            </td>
                            <td>
                                @{
                                    if (@item.Estatus == "Pendiente")
                                    {
                                        <p class="text-danger">Pendiente</p>
                                    }
                                    else
                                    {
                                        <p class="text-success">Atendido</p>
                                    }
                                }
                            </td>
                            @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("Departamental"))
                            {
                                <td class="text-center">
                                    <button type="button" class="btn reasignar reasignar-bttn align-top" data-toggle="modal" data-target="#exampleModal" id="@item.QuejaID">
                                        Reasignar
                                    </button>
                                </td>
                            }

                            @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("UnidadAdministrativa"))
                            {
                                <td class="text-center">
                                    <a asp-action="Seguimiento" asp-route-id="@item.QuejaID" class="btn seguimiento-bttn "><span class="material-icons size-icon ">shortcut</span></a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center align-content-center">
                        <h5 class="modal-title  " id="exampleModalLabel">Reasignar queja</h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal-bttn">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                    </div>
                    <div class="modal-body" id="modalReasignar">
                        <form asp-controller="Queja" asp-action="Reasignar">
                            @*<div class="form-group" id="SelectUnidad">
                                    <label for="exampleInputEmail1">Unidad administrativa actual</label>
                                    <textarea readonly class="form-control" id="showID"> </textarea>
                                </div>*@
                            <div class="form-group">
                                <label>Unidad administrativa a reasignar</label>
                                <select class="form-control" id="unidad" name="unidadId">
                                    @*<option id="optionPrincipal"></option>*@
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" hidden class="form-control" name="QuejaId" id="QuejaId">
                            </div>
                            <button type="submit" class="btn reasignar-modal-bttn" id="reasignar-bttn">Reasignar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn salir-modal-bttn" data-dismiss="modal" id="salir-bttn">Salir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/Quejas.js" asp-append-version="true"></script>
}
