
@model BuzonQuejas3.Models.Queja

@{
    ViewData["Title"] = "Seguimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Seguimiento.css" />

<div class="row justify-content-center mt-5">
    <div class="col-12 mb-3">
        <h1 class="text-center titulo-seguimiento">Detalles de la queja</h1>
    </div>
    <div class="col-10">
        @{
            if (ViewBag.SuccessMessageSeguimiento != null)
            {
                <div class="col-6">
                    <div class="modal fade modal-seguimiento-ok" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tarea exitosa</h5>
                                </div>
                                <div class="modal-body">
                                    <strong>@ViewBag.SuccessMessageSeguimiento</strong>
                                </div>
                                <div class="modal-footer">
                                    <a asp-action="Quejas" class="btn aceptar-bttn">Aceptar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-10">
        <form asp-action="Seguimiento">
            <div class="row">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <input type="hidden" asp-for="QuejaID" />
                <input type="hidden" asp-for="Folio" />
                <input type="hidden" asp-for="NombreQuejante" />
                <input type="hidden" asp-for="ApellidoPQuejante" />
                <input type="hidden" asp-for="ApellidoMQuejante" />
                <input type="hidden" asp-for="Direccion" />
                <input type="hidden" asp-for="UnidadAdministrativaID" />
                <input type="hidden" asp-for="MunicipioID" />
                <input type="hidden" asp-for="UnidadRemitenteID" />
                <input type="hidden" asp-for="MedioID" />
                <input type="hidden" asp-for="CargoID" />
                <input type="hidden" asp-for="Telefono" />
                <input type="hidden" asp-for="Correo" />
                <input type="hidden" asp-for="MotivoID" />
                <input type="hidden" asp-for="RelatoHechos" />
                <input type="hidden" asp-for="NombreServidor" />
                <input type="hidden" asp-for="ApellidoPServidor" />
                <input type="hidden" asp-for="ApellidoMServidor" />
                <input type="hidden" asp-for="NumeroPrevio" />
                <input type="hidden" asp-for="FechaCreacion" />
                <div class="col-3">
                    <label class="control-label">Nombre del quejoso</label>
                    @*<input disabled class="form-control"  placeholder="@Html.DisplayFor(model => model.NombreQuejante) @Html.DisplayFor(model => model.ApellidoPQuejante) @Html.DisplayFor(model => model.ApellidoMQuejante)">*@
                    <textarea disabled class="form-control">
@Html.DisplayFor(model => model.NombreQuejante) @Html.DisplayFor(model => model.ApellidoPQuejante) @Html.DisplayFor(model => model.ApellidoMQuejante)
                    </textarea>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Dirección</label>
                        <textarea disabled asp-for="Direccion" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Teléfono</label>
                        <input disabled asp-for="Telefono" class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <input disabled asp-for="Correo" class="form-control" />
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="form-group">
                        <label class="control-label">Municipio</label>
                        <textarea disabled asp-for="MunicipioID" class="form-control" id="municipioSeguimiento"></textarea>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="form-group">
                        <label class="control-label">Unidad administrativa asignada</label>
                        <textarea disabled asp-for="UnidadAdministrativaID" class="form-control" id="unidadSeguimiento"></textarea>
                    </div>
                </div>
                <div class="col-3">
                    @*<div class="form-group">
                            <label class="control-label">Fecha de creación </label>
                            <textarea disabled asp-for="FechaCreacion" class="form-control" id="fechaCreacion"></textarea>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label">Fecha de creación</label>
                        <input asp-for="FechaCreacion" class="form-control" required title="Este campo es requerido" id="fechaCreacion" />
                        <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-3 ">
                    <div class="form-group">
                        <label class="control-label">Medio de recepción</label>
                        <input disabled asp-for="MedioID" class="form-control" id="medioSeguimiento" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Servidor público involucrado</label>
                        <textarea disabled class="form-control" id="nombreServidor">
@Html.DisplayFor(model => model.NombreServidor) @Html.DisplayFor(model => model.ApellidoPServidor) @Html.DisplayFor(model => model.ApellidoMServidor)
                    </textarea>
                        @*<input disabled asp-for="NombreServidor" class="form-control" />*@
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="form-group">
                        <label class="control-label">Cargo</label>
                        <textarea disabled asp-for="CargoID" class="form-control" id="cargoSeguimiento"></textarea>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="form-group">
                        <label class="control-label">Unidad Remitente</label>
                        <input disabled asp-for="UnidadRemitenteID" class="form-control" id="unidadRemitenteSeguimiento"/>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="form-group">
                        <label class="control-label">N° de averiguación previa, carpeta de investigación o NUAT</label>
                        <input disabled asp-for="NumeroPrevio" class="form-control" />
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Motivo de la queja</label>
                        <textarea disabled asp-for="MotivoID" class="form-control" id="motivoSeguimiento"></textarea>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label class="control-label">Relato de los hechos</label>
                        <textarea disabled asp-for="RelatoHechos" class="form-control">
                </textarea>
                    </div>
                </div>

                <div class="col-12 mt-3 mb-3">
                    <h1 class="text-center titulo-seguimiento">Seguimiento</h1>
                </div>
                <div class="col-9">
                    <div class="row">
                        <label class="col-12 control-label">Atendió</label>
                        <div class="col-4">
                            <div class="form-group">
                                <input asp-for="NombreAtendio" class="form-control" required title="Este campo es requerido" placeholder="Nombre(s)" />
                                <span asp-validation-for="NombreAtendio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input asp-for="ApellidoPAtendio" class="form-control" required title="Este campo es requerido" placeholder="Apellido paterno" />
                                <span asp-validation-for="ApellidoPAtendio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input asp-for="ApellidoMAtendio" class="form-control" required title="Este campo es requerido" placeholder="Apellido materno" />
                                <span asp-validation-for="ApellidoMAtendio" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Fecha de atención*</label>
                        <input asp-for="FechaAtencion" class="form-control" required title="Este campo es requerido" id="fechaAtencion" />
                        <span asp-validation-for="FechaAtencion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <label class="control-label">Resolución*</label>
                        <textarea asp-for="Resolucion" class="form-control" required>
                        </textarea>
                        <span asp-validation-for="Resolucion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Estatus*</label>
                        <select asp-for="Estatus" class="form-control" required title="Este campo es requerido">
                            <option>Pendiente</option>
                            <option>Atendido</option>
                        </select>
                        <span asp-validation-for="Estatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn enviar-bttn-seguimiento" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/Seguimiento.js" asp-append-version="true"></script>
}


