@*@model IEnumerable<BuzonQuejas3.Models.Queja>*@

@{
    ViewData["Title"] = "Tablero Central";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var UnidadAdministrativa = (List<UnidadAdministrativa>)ViewData["unidades"];
    //var totalesPorUnidad = (Dictionary<string, string>)ViewData["totalPorUnidad"];
    //var totalesPorMunicipio = (Dictionary<string, string>)ViewData["totalPorMunicipio"];
    //var username = Context.User.FindFirst("Correo");
}
<link rel="stylesheet" href="~/css/Tablero.css" />

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center titulo">Tablero Central de Quejas  </h1>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <div class="row justify-content-between">
            <div class="col-4">
                <canvas id="EstatusGraph" style="max-width:400px; max-height:400px;"></canvas>

            </div>
            <div class="col-8">
                <canvas id="MunicipiosGraph" ></canvas>
            </div>
            <div class="col-12 mt-5">
                <canvas id="UnidadesGraph" style="max-width:800px; max-height:800px;"></canvas>

            </div>
        </div>

    </div>

</div>












@*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@
@*<script type="text/javascript" src="~/js/Tablero.js" asp-append-version="true"></script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


<!--<div class="row align-items-center">
    <div class="col-12">
        <div class="row align-items-center mb-5">
            <div class="col-12 align-self-center mb-5">
                <h1 class="text-center titulo">Tablero Central de Quejas  </h1>
            </div>
            <div class="col-12 align-self-center">
                <div class="row justify-content-center ">
                    <div class="col-2 align-self-center ">
                        <span>
                            @Html.DisplayName("Total Atendidas")
                        </span>
                    </div>
                    <div class="col-1 text-success font-weight-bold">
                        <span>
                            @ViewBag.TotalAtendidas
                        </span>
                    </div>
                    <div class="col-2">
                        <span>
                            @Html.DisplayName("Total Pendientes")
                        </span>
                    </div>
                    <div class="col-1 text-danger font-weight-bold">
                        <span>
                            @ViewBag.TotalPendientes
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 ">
        <div class="row">
            <div class="col-6">
                <div class="table-responsive border contenedor-tabla">
                    <table class="table table-hover ">
                        <thead>
                            <tr class=" align-text-top">
                                <th>
                                    Total por unidad Académica
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="table-secondary align-text-top">
                                <th>
                                    @Html.DisplayName("Unidad Administrativa")
                                </th>
                                <th class="align-text-top">
                                    @Html.DisplayName("Quejas")
                                </th>
                                <!--<th class="align-text-top">
                                    <a class="text-dark" asp-action="Index" asp-route-filtro="@ViewData["FiltroEstatus"]">
                                        @Html.DisplayName("Estatus")
                                    </a>-->
-->
<!--@*@Html.DisplayNameFor(model => model.FechaCreacion)*@-->
<!--</th>-->
<!--</tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="table-responsive border contenedor-tabla">
                    <table class="table table-hover ">
                        <thead>
                            <tr class=" align-text-top">
                                <th>
                                    Total por Municipio
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="table-secondary align-text-top">
                                <th>
                                    @Html.DisplayName("Municipio")
                                </th>
                                <th class="align-text-top">
                                    @Html.DisplayName("Quejas")
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>-->
